<div id="about" class="about">
    
    <div class="about_main">
        
        <div class="about_main_article">
            <p class="about_main_article_txt">Testimonials</p>
            <h2 class="about_main_article_title">
                What people say
                about Us.
            </h2>
        </div>


        <div class="about_main_feedback">

            <div class="about_main_feedback_perfil">
                <img class="about_main_feedback_perfil_img" src="./assets/feedbackPerfil.png" alt="Perfil Feedback">
            </div>
           
            <p class="about_main_feedback_txt">
                “On the Windows talking painted pasture yet 
                its express parties use. Sure last upon he same 
                as knew next. Of believed or diverted no.”
            </p>

            <div class="about_main_feedback_user">
                <h2 class="about_main_feedback_user_name">Mike taylor</h2>
                <p class="about_main_feedback_user_location">Lahore, Pakistan</p>
            </div>

        </div>

    </div>

    <div class="about_cards">
        <div class="about_card">

        </div>
    </div>
</div>