<div class="home">
    <div class="home_content">
        <div class="home_content_article">

            <p class="home_content_article_txt">Best Destinations around the world</p>

            <h2 class="home_content_article_title">
                Travel, enjoy
                and live a new
                and full life
            </h2>

            <p class="home_content_article_paragraph">
                Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it 
                engrossed listening. Park gate
                    sell they west hard for the.
            </p>

            <div class="home_content_article_actions">
                <button class="home_content_article_actions_find">Find out more</button>
                <div class="home_content_article_actions_demo">
                    <img class="home_content_article_actions_demo_icon" src="./assets/Play.png" alt="Play img">
                    <p class="home_content_article_actions_demo_txt">Play Demo</p>
                </div>
            </div>


        </div>
    </div>

    <div class="home_ilustration">
        <img class="home_ilustration_img" src="./assets/Image.png" priority alt="Imagem Iluatrativa">
        <img class="home_ilustration_background" src="./assets/Decore.png" alt="Decoração flutuante de fundo">
    </div>
</div>