<div class="bookings">
    
    <div class="bookings_content">

        <div class="bookings_content_header">
            
            <p class="bookings_content_header_txt">
                Easy and Fast
            </p>
            <h2 class="bookings_content_header_title">
                Book your next trip
                in 3 easy steps
            </h2>

        </div>

        <div class="bookings_content_main">

            <div class="bookings_content_main_item">
               
                <div class="bookings_content_main_item_icon" [ngStyle]="{'background-color': '#F0BB1F'}">
                    <img src="./assets/retangleIcon.png" alt="Icon" class="bookings_content_main_item_icon_img">
                </div>

                <div class="booking_content_main_item_article">
                    
                    <h3 class="booking_content_main_item_article_title">
                        Choose Destination
                    </h3>
                    
                    <p class="booking_content_main_item_article_txt">
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Urna, tortor tempus.
                    </p>

                </div>

            </div>


            <div class="bookings_content_main_item">
               
                <div class="bookings_content_main_item_icon" [ngStyle]="{'background-color': '#F15A2B'}">
                    <img src="./assets/waterIcon.png" alt="Icon" class="bookings_content_main_item_icon_img">
                </div>

                <div class="booking_content_main_item_article">
                    
                    <h3 class="booking_content_main_item_article_title">
                        Choose Destination
                    </h3>
                    
                    <p class="booking_content_main_item_article_txt">
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Urna, tortor tempus.
                    </p>

                </div>

            </div>


            <div class="bookings_content_main_item">
               
                <div class="bookings_content_main_item_icon" [ngStyle]="{'background-color': '#006380'}">
                    <img src="./assets/taxiIcon.png" alt="Icon" class="bookings_content_main_item_icon_img">
                </div>

                <div class="booking_content_main_item_article">
                    
                    <h3 class="booking_content_main_item_article_title">
                        Choose Destination
                    </h3>
                    
                    <p class="booking_content_main_item_article_txt">
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Urna, tortor tempus.
                    </p>

                </div>

            </div>

        </div>



    </div>

    <div class="bookings_box">

        <img class="bookings_box_img" src="./assets/Grece.jpg" alt="Ilustration Greece">

        <h2 class="bookings_box_title">Trip To Greece</h2>

        <p class="bookings_box_subtitle">14-29 June | by Robbin joseph</p>

        <div class="bookings_box_icons">

            <div class="bookings_box_icons_icon">
                
                <img class="bookings_box_icons_icon_img" src="./assets/leaf.png" alt="icon">
            
            </div>


            <div class="bookings_box_icons_icon">
                
                <img class="bookings_box_icons_icon_img" src="./assets/map.png" alt="icon">
            
            </div>


            <div class="bookings_box_icons_icon">
                
                <img class="bookings_box_icons_icon_img" src="./assets/send.png" alt="icon">
            
            </div>

        </div>

        <div class="bookings_box_footer">

            <div class="bookings_box_footer_content">

                <img class="bookings_box_footer_content_img" src="./assets/hotelIcon.png" alt="icon">

                <p class="bookings_box_footer_content_txt">24 people going</p>

            </div>

            <img class="bookings_box_footer_img" src="./assets/LikeIcon.png" alt="icon">

        </div>

    </div>

</div>