<div id="destinations" class="destinations">
    <div class="destinations__header">
        <p class="destinations__txt">
            Top Selling
        </p>

        <h2 class="destinations__title">
            Top Destinations
        </h2>
    </div>

    <div class="destinations__main">
        @for (card of cards; track $index) {
            <div class="destinations__box" [ngStyle]="{'background-image': 'url(' + card.img +')'}">
                <div class="destinations__content">                
                    <div class="destinations__box-title">
                        <h3 class="destinations__box-txt">Rome, italy</h3>
                        <h3 class="destinations__box-txt">$5,42k</h3>
                    </div>
                    <div class="destinations__subtitle">                    
                        <img class="destinations__subtitle-icon" src="./assets/CursorIcon.png" alt="Icon" [ngStyle]="{width: '2rem', height: '2rem'}" loading="lazy">
                        <p class="destinations__subtitle-txt">10 Days Trip</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>